@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET DASAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6; /* abu muda */
  color: #111827;
}

/* ROOT (JANGAN DI TENGAHKAN!) */
#root {
  min-height: 100vh;
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}